// Variables
$black: rgba(0,0,0,1);
$white: rgba(255,255,255,1);
$background-color: #E0E7F0;

$space-1: 16px;
$space-2: 32px;
$space-3: 48px;

h2 {
	font-size: 26px;
}

p {
	font-size: 14px;
}

a {
	color: $black;
}

a:hover {
	text-decoration: none;
	color: $black;
}

a.active {
	border-bottom: 1px solid $black;
}

img {
	width: 100%;
}

.nav-item {
	padding-left: $space-3;
}

.nav-link {
	color: $black;
}

.navbar {
	margin-bottom: $space-2;
	padding: 0;
	height: 80px;
}

.filters-wrapper {
	height: 100%;
}

.col-filter {
	background: $background-color;
}

.candidate {
	border-bottom: 1px solid $background-color;
	padding: $space-2 0;
}

#candidate-1 {
	padding-top: 0;
}

.navbar-expand-sm .navbar-nav .nav-link {
	padding-left: 0;
	padding-right: 0;
}

.footer-row {
	height: 50px;
}

.tags, .various-infos {
	color: rgba(150,150,150,1);
}

.tags {
	font-size: 10px;
}

.various-infos {
	font-size: 12px;
}
