h2 {
  font-size: 26px; }

p {
  font-size: 14px; }

a {
  color: black; }

a:hover {
  text-decoration: none;
  color: black; }

a.active {
  border-bottom: 1px solid black; }

img {
  width: 100%; }

.nav-item {
  padding-left: 48px; }

.nav-link {
  color: black; }

.navbar {
  margin-bottom: 32px;
  padding: 0;
  height: 80px; }

.filters-wrapper {
  height: 100%; }

.col-filter {
  background: #E0E7F0; }

.candidate {
  border-bottom: 1px solid #E0E7F0;
  padding: 32px 0; }

#candidate-1 {
  padding-top: 0; }

.navbar-expand-sm .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0; }

.footer-row {
  height: 50px; }

.tags, .various-infos {
  color: #969696; }

.tags {
  font-size: 10px; }

.various-infos {
  font-size: 12px; }
