<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <!-- build:css css/main.css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
   <!--  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css"> -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- endbuild -->

    <title>HR Digital Solution</title>
</head>

<body>
    
    <nav class="navbar navbar-expand-sm d-flex justify-content-between"> 
        <div class="container">
            <div class="logo">
                <a href="#"> HR Digital Solution </a>
            </div>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="#" class="nav-link active"> Candidates </a></li>
                    <li class="nav-item"><a href="" class="nav-link" data-toggle="modal" data-target="#reports"> Reports</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#settings"> Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="reports" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Work in Progress </h4>
                    <button type="button" class="close" data-dismiss="modal"> &times; </button>
                </div>
                <div class="modal-body">
                    Coming soon! This will display the candidates reports.
                </div>
            </div>
        </div>
    </div>

    <div id="settings" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Work in Progress </h4>
                    <button type="button" class="close" data-dismiss="modal"> &times; </button>
                </div>
                <div class="modal-body">
                    Coming soon! This will display the admin settings area.
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="container">
            <div class="content">
                <div class="row">
                   <div class="col-md-4 col-filter">
                        <div class="filters-wrapper d-none d-md-flex align-items-center justify-content-center text-center">  
                            <div class="filters">
                                <h2> Filters Block </h2>
                                 <p> Work in progress </p>
                            </div>
                        </div>  
                   </div> 
                    <div class="offset-md-1 col-md-7">
                        <div class="candidates-wrapper">  
                            
                            <div class="candidate" id="candidate-1">
                                <div class="row row-content align-items-center">
                                    <div class="col-md-3">
                                        <div class="candidate-thumb">
                                            <img src="img/profile.jpg">
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="candidate-info-wrapper d-flex align-items-center">
                                            <div class="candidate-info">
                                                <p> <strong> Candidate 1 </strong> </p>
                                                <p class="info mb-1"> Name of candidate 1 </p>
                                                <p class=" tags"> #tag1 #tag2 #tag3 </p> 
                                                <p class="various-infos mb-0"> See comments | See emails | Profile assigned by Teammate 1 </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="candidate">
                                <div class="row row-content align-items-center">
                                    <div class="col-md-3">
                                        <div class="candidate-thumb">
                                            <img src="img/profile.jpg">
                                        </div>
                                    </div>
                                    <div class="col-md">
                                       <div class="candidate-info-wrapper d-flex align-items-center">
                                            <div class="candidate-info">
                                                <p> <strong> Candidate 2 </strong> </p>
                                                <p class="info mb-1"> Name of candidate 2 </p>
                                                <p class=" tags"> #tag1 #tag2 #tag3 </p> 
                                                <p class="various-infos mb-0"> See comments | See emails | Profile assigned by Teammate 1 </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="candidate">
                                <div class="row row-content align-items-center">
                                    <div class="col-md-3">
                                        <div class="candidate-thumb">
                                            <img src="img/profile.jpg">
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="candidate-info-wrapper d-flex align-items-center">
                                            <div class="candidate-info">
                                                <p> <strong> Candidate 3 </strong> </p>
                                                <p class="info mb-1"> Name of candidate 3 </p>
                                                <p class=" tags"> #tag1 #tag2 #tag3 </p> 
                                                <p class="various-infos mb-0"> See comments | See emails | Profile assigned by Teammate 1 </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>  
                   </div> 
                </div> 
            </div>
        </div>
    </div>

     <footer class="footer">
        <div class="container-fluid">
            <div class="row footer-row justify-content-center align-items-center">             
                <div class="col-auto">
                    <p class="mb-0">© Copyright 2019 HR Digital Solution</p>
                </div>
           </div>
        </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <!-- build:js js/main.js -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script> 
    <!-- endbuild -->
  
</body>

</html>